<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wizard</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>  
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/game.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/game-styles.css">
</head>

<body>
	<div class="header">
		<h1>Wizard Game</h1>
	</div>
	<form class="players-hack">
		<h4>Choose no. of players</h4>		
		<select name="choosePlayers" id="choosePlayersDropdown">
		  <option disabled selected value> -- select -- </option>			  
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		  <option value="6">6</option>			  
		</select>
		<div type="submit" id="choosePlayersubmit">Submit</div>
	</form>
	<div id="game-space">
	</div>	

	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
</html>