<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wizard</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>  
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/game.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/game-styles.css">
</head>

<body>
	<div class="header">
		<h1>Wizard Game</h1>
	</div>	
		<div type="submit" id="choosePlayersubmit">ShowGame</div>
	</form>
	<div id="game-space">
	</div>	

	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>
</html>