<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wizard</title>
    <meta http-equiv="Cache-Control" content="no-cache"/> 
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/user.js"></script>  
    <script src="../static/js/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/lobby-styles.css">     
</head>

<body>
	<div class="header">
		<h1>Welcome to Wizard</h1>
	</div>	
	<form id="log-in-form">
		<div  id="username">
			<label for="inputUsername" class="field-title">Username</label>
			<input name="inputUsername" id="inputUsername" class="field-input" required>
		</div>
		<div  id="password">
			<label for="inputPassword" class="field-title">Password</label>
      		<input type="password" name="inputPassword" id="inputPassword" class="field-input" required>
		</div>
		<div id="log-in-btn">Log-in</div>
	</form>
	<div class ="footer">
		<button id="killserver" class="bggb" type="button">killserver</button>
	</div>
</body>