<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wizard</title>    
    <meta http-equiv="Cache-Control" content="no-cache"/> 
    <script src="../static/js/jquery-3.2.1.js"></script>  
    <script src="../static/js/functions.js?version=1"></script>    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>  
    <script src="../static/js/lobby.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/lobby-styles.css">   
</head>

<body>
	<div class="header">
		<h1>Wizard Lobby</h1>
		<div id="welcome"></div>
	</div>
	<div id="games-list">
	</div>	
	<div class ="footer">
		<button id="killserver" class="btn" type="button">killserver</button>
	</div>
</body>